{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block extra_css %}
    <style>
      body{
        padding-top: 100px;
      }
    </style>
{% endblock %}
{% block content %}
{% load static wagtailcore_tags wagtailimages_tags %}
<center><h1 class="display-4">{{ page.name_title }}</h1></center>

<center>
  <div class="container-fluid" style="height:100%; padding-top:3%; display: block; overflow: auto;">
    <h4>If video does not load, please refresh the page:</h4>
    <div class="videoWrapper">
        <style>
        .videoWrapper {
          position=absolute;
          height=100%;
        }
        .videoWrapper iframe {
          display: inline;
          height: 450px; width: 790px; border: 2px solid #ccc;max-width: 100%;
          margin-bottom:200px;
          position: relative;
        }
        .video-container{
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }
      </style>
      <!-- <img id="frame1" style="-webkit-user-select: none;" src="../no_video/" width="800px" height="700px"> -->
<!--      <iframe id="frame1" class="responsive-iframe"  src="../no_video/" title="YouTube video player" frameborder="0" scrolling="no" ></iframe>-->
        <iframe id="frame1" type="text/html" width="720" height="405" src="{{page.video_url}}"
                frameborder="0" allowfullscreen></iframe>
    </div>
</div>
</center>
{% endblock %}
