{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block extra_css %}
    <style>
      body{
        padding-top: 100px;
      }
    </style>
{% endblock %}
{% block content %}
{% load static wagtailcore_tags wagtailimages_tags %}
<center><h1 class="display-4">{{ page.name_title }}</h1></center>

<center>
  <div class="container-fluid" style="height:100%; padding-top:3%; display: block; overflow: auto;">
    <h4>If video does not load, please refresh the page:</h4>
    <div class="videoWrapper">
        <style>
        .videoWrapper {
          position=absolute;
          height=100%;
        }
        .videoWrapper iframe {
          display: inline;
          height: 450px; width: 790px; border: 2px solid #ccc;max-width: 100%;
          margin-bottom:20px;
          position: relative;
        }
        .video-container{
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }
      </style>
      <!-- <img id="frame1" style="-webkit-user-select: none;" src="../no_video/" width="800px" height="700px"> -->
<!--      <iframe id="frame1" class="responsive-iframe"  src="../no_video/" title="YouTube video player" frameborder="0" scrolling="no" ></iframe>-->
        <iframe id="frame1" type="text/html" width="720" height="405" src="{{page.video_url}}"
                frameborder="0" allowfullscreen></iframe>
        <div style="background-color:rgba(255,255,255,0);width:762px;height: 10px ">
            {% for reflection in page.reflectionlists %}
            {% if reflection == 0 %}<div class = "colorblock" style="background-color: darkred;width:auto;height: 20px;float: left"></div>
            {% elif reflection == 1%} <div class = "colorblock" style="background-color: black;width:auto;height: 20px;float: left"></div>
            {% elif reflection == 2%} <div class = "colorblock" style="background-color: purple;width:auto;height: 20px;float: left"></div>
            {% elif reflection == 3%} <div class = "colorblock" style="background-color: orange;width:auto;height: 20px;float: left"></div>
            {% elif reflection == 4%} <div class = "colorblock" style="background-color: blue;width:auto;height: 20px;float: left"></div>
            {% elif reflection == 5%} <div class = "colorblock" style="background-color: pink;width:auto;height: 20px;float: left"></div>
            {% elif reflection == 6%} <div class = "colorblock" style="background-color: white;width:auto;height: 20px;float: left"></div>
            {% elif reflection == 8%} <div class = "colorblock" style="background-color: #ff0000;width:auto;height: 20px;float: left"></div>
            {% endif %}
            {% endfor %}
        </div>
        <div style="background-color:rgba(255,255,255,0);width:762px;height: 10px;margin-top: 30px ">
            <div class = "colorsimple" style="background-color: darkred;width:12.5%;height: 20px;float: left;color: white;font-size: 10px">Angry</div>
             <div class = "colorsimple" style="background-color: black;width:12.5%;height: 20px;float: left;color: white;font-size: 10px">Disgust</div>
             <div class = "colorsimple" style="background-color: purple;width:12.5%;height: 20px;float: left;color: white;font-size: 10px">Fear</div>
             <div class = "colorsimple" style="background-color: orange;width:12.5%;height: 20px;float: left;font-size: 10px">Happy</div>
             <div class = "colorsimple" style="background-color: blue;width:12.5%;height: 20px;float: left;color: white;font-size: 10px">Sad</div>
             <div class = "colorsimple" style="background-color: pink;width:12.5%;height: 20px;float: left;font-size: 10px">Surprise</div>
             <div class = "colorsimple" style="background-color: white;width:12.5%;height: 20px;float: left;font-size: 10px">Neutral</div>
             <div class = "colorsimple" style="background-color: #ff0000;width:12.5%;height: 20px;float: left;color: white;font-size: 10px">Noface</div>
        </div>
<!--        <div id = "outputtests" type="hidden">{{page.reflectionlists}}</div>-->
        <div id = "outputtest" hidden="hidden">{{page.length}}</div>
    </div>
    <script type="text/javascript">
        var p1 = document.querySelectorAll(".colorblock")
        var p2 = document.getElementById("outputtest").innerHTML
        p2=p2*100+'%'
        domLen = p1.length;
        for (var i = 0; i < domLen; i++) {
            var v = p1[i];
            // do something you want deal with DOM
            v.style.width=p2
        }
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
       .choose-file-button {
          flex-shrink: 0;
          /* background-color: rgba(255, 255, 255, 0.04); */
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 3px;
          padding: 8px 15px;
          margin-right: 10px;
          font-size: 12px;
          text-transform: uppercase
        }
        .file-input {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          widows: 100%;
          cursor: pointer;
          opacity: 0
        }


        </style>
        <script type="text/javascript">
      $(document).on('change', '.file-input', function() {
          var filesCount = $(this)[0].files.length;
          var textbox = $(this).prev();
          if (filesCount === 1) {
          var fileName = $(this).val().split('\\').pop();
          textbox.text(fileName);
          } else {
          textbox.text(filesCount + ' files selected');
          }
          if (typeof (FileReader) != "undefined") {
          var dvPreview = $("#divVideoMediaPreview");
          dvPreview.html("");
          var index =0;
          $($(this)[0].files).each(function () {
          var file = $(this);
          var reader = new FileReader();
          reader.onload = function (e) {
          var video = $("<video />");
          video.attr("style", "width: 150px; height:100px; padding: 10px");
          video.attr("src", e.target.result);
          viedo.attr("name", name+index);
          index=index+1;
          dvPreview.append(video);
          }
          reader.readAsDataURL(file[0]);
          });
          } else {
          alert("This browser does not support HTML5 FileReader.");
          }
          });
    </script>
    <form class="input-group mb-3" method="POST" enctype="multipart/form-data" id="form1" style="margin-top: 200px">
          <div class="file-drop-area"> <span class="choose-file-button btn-primary blue button">Choose Files</span> <span class="file-message">or drag and drop files here</span> <input type="file" name="file_data" class="file-input" accept=".mp4" multiple> </div>
          {% csrf_token %}
          <div class="container-fluid p-2">
                <button class="btn btn-primary blue button" type="submit" id="inputGroupFileAddon04">Upload</button>
          </div>
    </form>
</div>
</center>
{% endblock %}
